li {
  list-style-type: none;
}

.message-container {
  background: #009688;
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: row;
}

.message-container img {
  max-width: 80%;
  float: right;
}

.message-container a {
  color: white;
  font-weight: bold;
}


.loading-overlay {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #000c;
  z-index: 10000;
}

.loader {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
