li {
  list-style-type: none;
  border-radius: 2px;
  padding: 3px;
}

.message-container {
  background: #009688;
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  box-shadow: 
    1px 1px 1px 1px #00998a,
    2px 2px 2px 2px #00b3a1,
    3px 3px 3px 3px #00ccb8,
    4px 4px 4px 4px #00e6cf;
}



.message-container li{
  background-color: #ddfffc;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
  overflow: hidden;
}

.message-container li:hover{
  background-color: white;
  cursor: pointer;
}

.message-container a{
  color: #009688 !important;
}

.message-container li::before,
.message-container li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.message-container li::before {
  background: #ddfffc;
  animation: typewriter 4s
    steps(35) 1s forwards;
} 

.message-container li::before:nth-child(1) {
  background: #ddfffc;
  animation: typewriter 4s
    steps(35) 10s forwards;
} 

.message-container li::after {
  width: 0.125em;
  background: black;
  animation: typewriter 4s
      steps(35) 1s forwards,
    blink 800ms steps(30) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  0% {
    background: black;
  }
  50% {
    background: transparent;
  }
  100% {
    background: black;
  }
}

.message-container div{
  opacity: 0;
  overflow: hidden;
  animation: fadeIn 0.5s forwards;
}

.message-container div:nth-child(1){
  animation-delay: 0.2s;
}

.message-container div:nth-child(2){
  animation-delay: 2s;
}

.message-container div:nth-child(3){
  animation-delay: 3s;
}

.message-container div:nth-child(4){
  animation-delay: 4s;
}

.message-container div:nth-child(5){
  animation-delay: 5s;
}

.message-container img {
  max-width: 80%;
  float: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.message-container a {
  color: white;
  font-weight: bold;
}


.loading-overlay {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.292);
  z-index: 10000;
}

.loader {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
